@media screen and (min-width: 500px) {
  .hero {
      grid-template-columns: repeat(3, 1fr); /* Three equal columns for very large screens */
  }

  .home {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    margin-right: 0;
    width: 100%;
  }

  .home > section:first-child {
    grid-column: span 2;
  }

  section, .card {
    border: 1px solid var(--font-color);
    margin-right: 10px;
  }

}

@media screen and (min-width: 850px) {
  
  /************************* Header ******************************/

  .header-container {
      display: grid; /* Use grid layout for larger screens */
      grid-template-columns: auto 1fr;
      grid-template-rows: 1fr 50px;
      align-items: center;
      position: relative;
  }

  header img {
      grid-column: 1 / 2;
      max-height: 150px;
      padding: 10px;
        max-width: 100%; 
  }

 .header-text {
      grid-column: 2 / 3;
      margin: 0 10px;
      text-align: left; /* Align text to the left for larger screens */
  }

  #menu {
      display: none; /* Hide the hamburger menu on larger screens */
  }

  .navigation {
      grid-row: 2/3;
      display: flex; /* Always show navigation on larger screens */
      flex-direction: row; /* Arrange links horizontally */
      position: absolute; /*Remove absolute positioni */
      background-color: transparent; /* Remove background color */
      bottom: 0;
      right:0;
      top: 0;
      margin-top: 0;
      /* padding-bottom: 10px; */
      width: auto;
      height: 50px;

  }

  .navigation a {
      display: block; /* Ensure links are visible */
      padding: 0 15px;
      
      align-content: center;

  }
  .navigation li{
    height: 50px;
    align-items: center;
    align-content: center;
  }

  /************************* Main ******************************/


  .hero {
    
      grid-column: 1 / 2;
      max-height: 500px; /* Limit the height */
      width: auto; /* Allow the width to scale proportionally */
      padding: 10px;
  }

  .home {
    display: grid;
    grid-template-columns: .5fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    margin-right: 0;
    width: 100%;
  }

  .home > section:first-child {
    grid-column: span 2;
  }

  section, .card {
    border: 1px solid var(--font-color);
    margin-right: 10px;
  }

  /************************* business card ******************************/
  #business-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    ;
  }
  div .business-card {
    border: 1px solid black;
    border-radius: 10px;
    overflow: hidden;
    padding: 1rem;

  }

  .card-section1 {
    border-bottom: 1px solid black;
    text-align: center;

  }
  .card-section1 h3 {
    padding-bottom: 1px;
    margin-bottom: 0;
    margin-top: 5px;
  }
  .card-section1 p {
    padding-top: 1px;
    margin-top: 0;
  }

  .card-section2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
  }

  .card-section2 img {
    max-width: 80px;
    grid-column: 1/2;
    grid-row: 1/3;
    /* padding-top: 2px; */
    align-items: center;
    align-self: center;
    align-content: center;
  }

  .card-section2 p{
    grid-column: 2/3;
    padding: 0;
  }

}





@media screen and (min-width: 1200px) {
  .hero {
      grid-template-columns: repeat(3, 1fr); /* Three equal columns for very large screens */
  }
}