:root {
    --font-family: "Noto Sans", sans-serif;
    --medium-font-weight: 400;
    --larger-font-weight: 600;
    --larger-font-style: semibold;
    --header-background-color: #edd3c4;
    --nav-background-color: #4e5166;
    --hover-background-color: #c8adc0;
    --font-color: black;
}

body {
    font-family: var(--font-family);
    font-weight: var(--larger-font-weight);
}

/************************* Header ******************************/

.header-container {
    background-color: var(--header-background-color);
    display: flex;
    flex-direction: row; /* Stack elements vertically for small screens */
    align-items: center;
    justify-content: center;
    position: relative;
    padding: 10px;
}

header img {
    padding: 10px;
    max-width: 100px; /* Ensure the image is responsive */
}

.header-text{
    padding-left: 10px;
    padding-right: 10px;
    text-align: left;
    flex-grow: 1;
}

h1{
    padding-bottom: 0;
    margin-bottom: 0;
}
.header-text h2{
    padding-top: 0;
    margin-top: 0;
}


#menu {
    font-size: 1.5rem;
    border: 0;
    background: none;
    color: var(--font-color);
    cursor: pointer;
    position: absolute;
    top: 1rem;
    right: 1rem;
}

#menu::before {
    content: "☰";
}

#menu.open::before {
    content: "Ⅹ";
}

.navigation {
    display: none; /* Hidden by default */
    flex-direction: column;
    list-style: none;
    padding: 0;
    align-items: center;
    font-size: medium;
    background-color: var(--nav-background-color);
    position: absolute;
    top: 30px;
    right: 0;
}


.navigation.open {
    display: flex; /* Show navigation when open */
    margin-right: 5px;
    width: 150px;
}

.navigation a {
    display: none;
    padding: 1rem;
    text-align: center;
    text-decoration: none;
    color: var(--font-color);
    width: 110px;
    height: 50px;
    align-content: center;
}

.open a {
    display: block;
}

.navigation a:hover {
    color: var(--nav-background-color); 
    background-color: var(--hover-background-color); 
    border-radius: 5px; 
    
}

/************************* Main ******************************/

.hero img{
    width: 100%;
    display: block;
    height: auto;
    padding-bottom: 20px;
    /* padding:10px */


}

.home {
    display: grid;
    /* grid-template-columns: 1fr; */
    margin-right: 0;
    
}

section, .card{
    
    border: 1px solid var(--font-color);
    margin-top: 10px
}

section h2, .card h2{
    background-color: var(--nav-background-color);
    color: var(--hover-background-color);
    padding-top: 0;
    padding-right: 0;
    margin-top: 0;;
}

.weather {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;;
}

.weather img{
    grid-column: 1/2;
    max-width: 80px;
}
.weather p {
    padding:2px;
    margin:0;
    padding-left: 5px;
    padding-right: 5px;;
    font-size: smaller;
}

.weather .weather-container{
    grid-column: 2/3;
}
.weather-container{
    padding-left: 5px;
}

/************************* business card ******************************/
#business-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    ;
  }
  div .business-card {
    border: 1px solid black;
    border-radius: 10px;
    overflow: hidden;
    padding: 1rem;

  }

  .card-section1 {
    border-bottom: 1px solid black;
    text-align: center;

  }
  .card-section1 h3 {
    padding-bottom: 1px;
    margin-bottom: 0;
    margin-top: 5px;
  }
  .card-section1 p {
    padding-top: 1px;
    margin-top: 0;
  }

  .card-section2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
  }

  .card-section2 img {
    max-width: 80px;
    grid-column: 1/2;
    grid-row: 1/4;
    /* padding-top: 2px; */
    align-items: center;
    align-self: center;
    align-content: center;
  }

  .card-section2 p{
    grid-column: 2/3;
    padding: 0;
    font-size: smaller;
    max-width: 150px;
    word-wrap: break-word;
    overflow-wrap: break-word;
    white-space: normal;
    margin:0;
    text-align: center;
    align-self: center;

  }

/************************* business card ******************************/

footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: var(--header-background-color);
    margin-top: 10px;
}

.footer-container2 {
    align-self: center;
}

footer img{
    padding:0;
    width: 50px;
    height: auto;
    padding: 5px

}

footer nav{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    width:50px;

}

.footer-container1, .footer-container3 {
    font-size: smaller;
    padding-bottom: 10px;
}

.footer-container1{
    padding-left: 15px;
    
}

.footer-container1  h3, .footer-container3  h3{
    padding-bottom: 2px;
    margin-bottom: 0;
}

.footer-container1 p, .footer-container3 p{
    padding: 0;
    margin:0;
    
}

