:root {
    --font-family: "Noto Sans", sans-serif;
    --medium-font-weight: 400;
    --larger-font-weight: 600;
    --larger-font-style: semibold;
    --header-background-color: #edd3c4;
    --nav-background-color: #4e5166;
    --hover-background-color: #c8adc0;
    --font-color: black;
}

body {
    font-family: var(--font-family);
    font-weight: var(--larger-font-weight);
}

.header-container {
    background-color: var(--header-background-color);
    display: flex;
    flex-direction: column; /* Stack elements vertically for small screens */
    align-items: center;
    position: relative;
}

header img {
    padding: 10px;
    max-width: 100%; /* Ensure the image is responsive */
}

h1 {
    padding: 10px;
    text-align: center;
}

#menu {
    font-size: 1.5rem;
    border: 0;
    background: none;
    color: var(--font-color);
    cursor: pointer;
    position: absolute;
    top: 1rem;
    right: 1rem;
}

#menu::before {
    content: "☰";
}

#menu.open::before {
    content: "Ⅹ";
}

.navigation {
    display: none; /* Hidden by default */
    flex-direction: column;
    list-style: none;
    padding: 0;
    align-items: center;
    font-size: medium;
    background-color: var(--nav-background-color);
    position: absolute;
    top: 30px;
    right: 0;
}

.navigation.open {
    display: flex; /* Show navigation when open */
    margin-right: 5px;
    width: 150px;
}

.navigation a {
    display: none;
    padding: 1rem;
    text-align: center;
    text-decoration: none;
    color: var(--font-color);
}

.open a {
    display: block;
}

.navigation a:hover {
    color: var(--hover-background-color); 
    background-color: var(--nav-background-color); 
    border-radius: 5px; 
}


footer {
    background-color: var(--header-background-color);
}