/* color pallet for website
https://coolors.co/0e7c7b-17bebb-d4f4dd-b2abf2-0f0326*/

:root {
    --background-color1: #0e7c7b;
    --background-color2: #17bebb;
    --fontcolor1: white;
    --fontcolor2: #0f0326;
    --fontcolor3: #d4f4dd;
    --color: #b2abf2;
}

header {
    background-color: var(--background-color1);
    color: var(--fontcolor1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    grid-template-rows: auto 1fr;
    /* padding-bottom: 0px; */
    /* grid-column: 1 / 4; */
}

#menu {
	font-size: 1.5rem;
	border: 0;
	background: none;
	color: #000;
    cursor: pointer;
 	position: relative;
	top: 1rem;
	right: 1rem;
}

#menu::before {
	content: "☰";
}

#menu.open::before {
	content: "❎";
}


.navigation {
    display: none; /* Ensure the navigation items are arranged horizontally */
    flex-direction: column;
    list-style: none;
    padding: 0; /* Remove any default padding */
    align-items: center;
    font-size: medium;
    background-color: var(--background-color2);
    margin-top: 0px;
}

.navigation.open{
    display: flex;
    margin-right: 5px;
}

h1 {
    
    display: flex;
    /* justify-content: center; */
    grid-column: 1 / 4;
    grid-row: 1 / 2;
    height: 3rem;
    padding: 1rem;
    margin-bottom: 0px;
    text-align: center;
    align-items: center;
    /* border-bottom: 0ox; */

}

h1 img {
    width: 100%;
    height: auto;
    max-width: 100px;
    max-height: 100px;
    padding-right: 1rem;

}


.navigation.open{
    display: flex;
    margin-right: 5px;
}

.navigation a{
    display: none;
    padding: 1rem;
    text-align: center;
    text-decoration: none;
    color: var(--fontcolor2);
    align-items: center;
}

li a:hover{
    color: var(--fontcolor1);
}

.open a {
    display: block;
}

/* Main Section */

main {
    display: grid;
    /* margin: 0 auto; */
    width: 600px;
    margin-top: 1rem;

}

section {
    display: grid;
    border: 1px solid var(--fontcolor2);
    margin-bottom: 1rem;  
    margin-left: 1rem;
    margin-right: 1rem;

}

section h2 {
    background-color: var(--background-color1);
    color: var(--fontcolor1);
    display: flex;
    justify-content: center;
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 1rem;
    
    height: 27.5px;
}

section img {
    display: block;
    max-width: 100%;
    height: auto;
    margin: auto;
    margin-bottom: 5px;
    
}



#course-container, #course-wdd-card, #course-cse-card, .subject-list {
    display: flex; 
    flex-direction: column; 
    gap: 1rem; 
    padding: 1rem; 
}

#course-container li, #course-wdd-card li, #course-cse-card li, .subject-list li {
    list-style: none; 
    border: 1px solid var(--fontcolor2); 
    padding: 1rem; 
    text-align: center; 
    border-radius: 5px;
}

/* Footer Section */

footer {
    margin-top: 5px;
    background-color: var(--background-color1);
    color: var(--fontcolor1);
    text-align: center;

}