/* color pallet for website
https://coolors.co/565264-ff312e-048a81-f2f3d9-d6cfcb*/

body {
    display: grid;
    grid-template: auto auto auto auto / auto auto auto;
}

header {

    padding: 1rem;
    /* padding-bottom: 0px; */
    grid-column: 1 / 4;
}



.navigation {
    background: #ff312e;
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    align-items: center;
    margin-top: 0px;
    border-top: 0px;
}

h1 {
    background-color: #565264;
    color: #d6cfcb;
    display: flex;
    justify-content: center;
    grid-column: 1 / 4;
    grid-row: 1 / 2;
    height: 3rem;
    padding: 1rem;
    margin-bottom: 0px;
    text-align: center;
    align-items: center;
    /* border-bottom: 0ox; */

}

h1 img {
    width: 100%;
    height: auto;
    max-width: 100px;
    max-height: 100px;
    padding-right: 1rem;

}

.navigation li {
    flex: 1 1 auto;

}

.navigation a {
    display: block;
    color: #f2f3d9;
    font-size: larger;
    padding: 1rem;
    text-decoration: none;
    text-align: center;
}

.navigation a:hover {
    text-decoration: underline;
}