:root {
    --font-family: "Noto Sans", sans-serif;
    --primary-color: #565554; /* Dark Gray */
    --secondary-color: #2e86ab; /* Blue */
    --background-color: #f6f5ae; /* Light Yellow */
    --accent-color: #bb8a89; /* Soft Red */
    --text-color: #e3d7ff; /* Light Purple */
}

body {
    font-family: var(--font-family);
    background-color: var(--background-color);
    color: var(--primary-color);
    margin: 0;
    /* padding: 20px; */
}

header {
    color: var(--background-color);
    background-color: var(--primary-color);
    padding: 5px;
    
}

h1 {
    text-align: center;
    font-size: 2.5rem;
}

h2 {
    color: var(--background-color);
    background-color: var(--primary-color);
    padding: 5px;
    
}

p, a {
    margin-left: 20px;
}

li {
    margin-left: 40px;
    list-style: none;
}

img {
    max-width: 50%;
}